# References
# https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-nodejs
# https://github.com/actions/checkout
# https://github.com/actions/setup-node

name: build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 14
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install, build
        run: |
          yarn install
          yarn build
        env:
          CI: true
